<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{general/fragmentos :: head}"/>

    <body>

        <!-- Fragmento para listado de estados de envío -->
        <section th:fragment="listado" class="p-3">
            <div class="row p-3">
                <div class="col-md-9">
                    <div class="card p-2">
                        <div class="card-header">
                            <h4>[[#{estadoEnvio.listado}]]</h4>
                        </div>

                        <div class="card-body">
                            <div th:if="${estados != null and !estados.empty}">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{estadoEnvio.nombre}]]</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="e : ${estados}">
                                            <td>[[${e.idEstado}]]</td>
                                            <td>[[${e.nombreEstado}]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="text-center p-2" th:if="${estados == null or estados.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3>[[#{estadoEnvio.total}]]</h3>
                            <h4 class="fs-2">
                                <i class="fa-solid fa-flag"></i> [[${totalEstados}]]
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>