<!DOCTYPE html>
<!-- Esta es la página principal del sitio web Sistema de Gestión de Envíos -->
<html>
    <head th:replace="~{general/fragmentos :: head}"/>

    <body>
        <header th:replace="~{general/fragmentos :: header}"/>

        <section th:replace="~{direccion/fragmentos :: agregar}"/>
        <section th:replace="~{direccion/fragmentos :: listado}"/>
        <section th:replace="~{direccion/fragmentos :: confirmarEliminar}"/>

        <section th:replace="~{general/fragmentos :: mostrarToast}"/>

        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>